:root {
    --dark: #1f2937;
    --vanilla: #F9FAF8;
    --gray2: #e5e7eb;
    --blue2: #3882F6;
}

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}


.navbar-container {
    background-color: var(--dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    font-size: 24px;
    color: var(--vanilla);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.link {
    font-size: 18px;
    color: var(--gray2)
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.hero-container {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 100px;
}

.hero-content, img {
    flex-basis: 500px;
}

.main-text {
    font-size: 48px;
    color: var(--vanilla);
    font-weight: 900;
}

.second-text {
    font-size: 18px;
    color: var(--gray2);
}

button {
    background-color: var(--blue2);
    color: var(--vanilla);
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}